body {
  margin: 0%;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr;
}

#content1 {
  background-color: red;
}

#content2 {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#foo-bar {
  background-color: greenyellow;
  padding: 10%;
}
